#button{
    display: flex;
    border-radius: 200px;
    font-weight: 200px;
}

#prod{
    /* width: 20% */

}

#buttin{
    display: flex;
    justify-content: center;
    padding: 10px;
    
}

#p{
    margin: 20px;
        border: .5px solid black;
        border-radius: 10px;
        background-color: white;

}