#nav{
    display: flex;
    justify-content: space-around;
    list-style: none;
    
}
#navhead{
}

#nav li:hover{
    color:white;
    cursor: pointer;
}
#nav a{
    text-decoration: none;
     color: pink;
     padding:20px;
     font-size: 30px;
}

#nav a:Hover{
    text-decoration: none;
    color:white;
}

#l{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
#login{
    background: none;
    color: pink;
    font-family: cursive;
    border: none;
    font-size: 30px;
    padding:20px;
    cursor: pointer;
}
#logo{
    background: none;
    border-radius: 80px
}
#headerbanner{
    justify-content: space-around;
    background-color: white;
}

#headbanner img{
    width: 200px;
}

#mobilenav{
    display: none;
}

@media(max-width: 600px){
    #nav{
        display:none
    }

    #mobilenav{
        display: block;
    }
    #mobilenav{
        background-color: black;
    }

    #mobile ul{
        padding: 0px;
    }
    #mobilenav li{
        color: pink;
        list-style: none;
    }

    #mob a{
        text-decoration: none;

    }

    #mob ul{
        display: flex;
        flex-direction: column;
    }
}