#nav{
    display: flex;
    justify-content: space-around;
    text-transform: none;
    list-style: none;
    /* background-color: pink; */
    color: black;
    margin: 0px;
}
#navhead{
    background-color: pink;
}

#nav li:hover{
    color:white;
    cursor: pointer;
}
#nav a{
    text-decoration: none;
    color:black;
}

#nav a:Hover{
    text-decoration: none;
    color:white;
}


#mobilenav{
    display: none;
}

@media(max-width: 600px){
    #nav{
        display:none
    }

    #mobilenav{
        display: block;
    }
    #mobilenav{
        background-color: black;
    }

    #mobile ul{
        padding: 0px;
    }
    #mobilenav li{
        color: pink;
        list-style: none;
    }

    #mob a{
        text-decoration: none;

    }

    #mob ul{
        display: flex;
        flex-direction: column;
    }
}