#review{
    display:flex;
   padding-bottom: 40px;
    justify-content: space-around;
}

#img{
    width:auto
}

#de{
    font-weight: 600;
    font-size: 24px;
}

#info{
    /* display: flex;
    
    flex-direction: column; */
    display: flex;
    justify-content: center;
    align-items: center;

}

#r{
    display: flex;
    flex-direction: column;
}

#review img{
    height: 140px;

}