.App {
  text-align: center;
}
#header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color:pink
}

#container1{
  display:flex;
  height: 300px;
  align-items: center;
  justify-content: space-around;
  background-color: pink;
}
#footer{
  background-color: black;
  color: pink;
}
#container1 h3{
  color:black
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (max-width: 600px) {
  #container1{
    display: flex;
    flex-wrap: wrap;
  }
}