.App {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  /* background-image: url('./pics/pinkbackground.jpg'); */

  /* background-image: url('./pics/pinkbackground.jpg'); */
}
#header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:pink;
  font-family: 'Courier New', Courier, monospace;

  /* background-image: url('./pics/pinkbackground.jpg'); */

}

#container1{
  display:flex;
   height: 600px;
  align-items: center;
  justify-content: space-around;
  background-color: pink;

}
#footer{
  background-color: black;
  color: pink;
}
#container1 h3{
  color:black
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#styles{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#i{
  padding:20px;
  width: 600px;
}
#b{
  font-size: 25px;
  background-color: white;
  font-family: 'Courier New', Courier, monospace;
  /* background-image: url('./pics/pinkbackground.jpg'); */
  color: black;
  border:2px black solid;
  cursor: pointer;

}


#butt{
  width: 50%;
}

#reviews{
  display: flex;
  text-align: left;
  
}

#headmobile{
  display: none;
}

@media (max-width: 600px) {
  #container1{
    display: flex;
    flex-wrap: wrap;
  }
  #container1 img{
    width:400px
  }

  #header{
    display: none;
  }

  #headmobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}