#prod h1{
    text-align: center;
}

#inven{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


@media(max-width:600px){
    #inven{
        display: flex;
        flex-direction: column;
    }
}